.container-forms {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.signup-login {
  position: absolute;
  top: 50%;
  left: 75%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  /* fraction of free space */
  transform: translate(-50%, -50%);
  transition: 1s 0.7s ease-in-out;
  /* time to move, delay, effect */
  z-index: 5;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.form-signup {
  opacity: 0;
  z-index: 1;
  padding-top: 50px;
}

form.form-login {
  z-index: 2;
  position: fixed;
  top: 20%;
  left: 5%;
  right: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
}

.form-title {
  font-size: 2.2rem;
  color: #267b99;
  font-weight: 800;
}

.input-field {
  max-width: 400px;
  width: 100%;
  background-color: #ede7e3;
  margin: 10px 0;
  height: 55px;
  border-radius: 22px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  font-size: 1rem;
  color: #d4af95;
  text-align: center;
  line-height: 55px;
  transition: 0.5s;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  color: #a17556;
}

.input-field input::placeholder {
  color: #be9171;
  font-weight: 500;
}

.pw-requirements {
  max-width: 400px;
  padding: 0 2.5%;
  font-size: 0.8rem;
  color: grey;
  line-height: 1.15;
  text-align: left;
}

.pw-requirements p {
  margin-bottom: 5px;
}

.forgot-pw {
  text-decoration: none;
  color: grey;
}

.forgot-pw:hover {
  color: #16697a;
}

.google-login {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 500;
}

.google-icon:hover {
  /* border-color: #16697A;
  color: #16697A; */
  background-color: #db4437;
  border-color: #db4437;
  color: #fff;
}

.google-icon {
  height: 52px;
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0.5rem;
  color: #4ea6b8;
  border-radius: 20px;
  border: 1px solid #4ea6b8;
  text-decoration: none;
  transition: 0.3s;
  background-color: #fff;
}

.gmail-text {
  margin: 0;
}

.fa-google {
  margin-right: 0.5rem;
}

.bton {
  width: 150px;
  background-color: #86ccda;
  border: none;
  outline: none;
  height: 50px;
  border-radius: 30px;
  color: #16697a;
  text-transform: uppercase;
  font-weight: 600;
  margin: 5px 0;
  cursor: pointer;
  transition: 0.5s;
  align-items: center;
}

.bton:hover {
  background-color: #6ebbca;
}

.bton:disabled {
  cursor: not-allowed;
}

#progress-icon {
  color: "#267b99" !important;
}

.container-panels {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container-main:before {
  content: "";
  position: absolute;
  /* top: -49%; */
  right: 45%;
  height: 2000px;
  width: 2000px;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: 1.8s ease-in-out;
  /* background-color: #86ccda; */
  background-image: linear-gradient(-45deg, #91dee6, #267b99);
  z-index: 6;
}

.image {
  width: 90%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.signup-panel {
  pointer-events: all;
  padding: 2rem 17% 7%;
}

.login-panel {
  pointer-events: none;
  padding: 3rem 17% 2rem 12%;
}

.panel .content {
  color: #f7f7f7;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
  line-height: 1.5;
  padding-top: 7%;
}

.panel h3 {
  line-height: 1;
  font-size: 1.8rem;
  font-weight: 600;
}

.panel p {
  padding: 0.7rem 0;
}

.bton.transparent {
  margin: 0;
  background: none;
  color: #f7f7f7;
  border: 1.5px solid #f7f7f7;
  width: 150px;
  height: 50px;
}

.login-panel .image,
.login-panel .content {
  transform: translateX(800px);
}

.container-main.signup-mode:before {
  transform: translate(98%, -50%);
  right: 50%;
}

.container-main.signup-mode .signup-panel .image,
.container-main.signup-mode .signup-panel .content {
  transform: translateX(-800px);
}

.container-main.signup-mode .signup-login {
  left: 25%;
}

.container-main.signup-mode form.form-signup {
  /* signup-mode: show sign up form */
  opacity: 1;
  z-index: 2;
}

.container-main.signup-mode form.form-login {
  /* signup-mode: hide login form */
  opacity: 0;
  z-index: 1;
}

.container-main.signup-mode .login-panel .image,
.container-main.signup-mode .login-panel .content {
  transform: translateX(0);
  padding-right: 3%;
}

.container-main.signup-mode .signup-panel {
  pointer-events: none;
}

.container-main.signup-mode .login-panel {
  pointer-events: all;
  padding-top: 0;
}

.alert {
  max-width: 400px;
  width: 100%;
  margin-bottom: 10px;
  line-height: 1.5;
  padding-right: 45px;
}

@media (max-width: 870px) {
  .container-main {
    min-height: 139vh;
    height: 90vh;
  }

  .signup-login {
    width: 100%;
    top: 88%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signup-login,
  .container-main.signup-mode .signup-login {
    left: 50%;
  }

  .container-panels {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 8%;
    grid-column: 1 / 2;
  }

  .signup-panel {
    grid-row: 1 / 2;
    padding-top: 50px;
  }

  .login-panel {
    grid-row: 3 / 4;
  }

  /* .panel.login-panel .image {
    display: none;
  } */
  .image {
    width: 40%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding: 5% 8%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel h3 {
    font-size: 1.5rem;
  }

  .panel p {
    font-size: 0.85rem;
    padding: 0.5rem 0;
  }

  .bton.transparent {
    width: 120px;
    height: 42px;
    font-size: 0.85rem;
  }

  .container-main:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-68%);
    top: initial;
    left: 30%;
    bottom: 60%;
    right: initial;
    transition: 2s ease-in-out;
  }

  .container-main.signup-mode::before {
    transform: translate(-50%, 100%);
    bottom: 22%;
    right: initial;
  }

  .container-main.signup-mode .signup-panel .image,
  .container-main.signup-mode .signup-panel .content {
    transform: translateY(-300px);
  }

  .container-main.signup-mode .login-panel .image,
  .container-main.signup-mode .login-panel .content {
    transform: translateY(0);
    padding-bottom: 0;
  }

  .login-panel .image,
  .login-panel .content {
    transform: translateY(350px);
  }

  .container-main.signup-mode .signup-login {
    top: 7.5%;
    transform: translate(-50%, 0);
  }

  .panel.signup-mode .content {
    padding: 5% 8%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  /* .container-main.signup-mode .image {
    display: grid;
  } */
}

@media (max-width: 570px) {
  .panel .content {
    padding-bottom: 5%;
    padding-right: 8%;
    padding-top: 37px;
  }

  .image {
    display: none;
  }

  .container-main {
    padding: 1.5rem;
  }

  .container-main::before {
    bottom: 68%;
    left: 88%;
  }

  .signup-login {
    top: 70%;
  }

  .container-main.signup-mode::before {
    bottom: 23%;
    left: 40.5%;
  }

  .container-main.signup-mode .login-panel .content {
    transform: translateY(12%);
    padding-top: 0;
  }

  .container-main.signup-mode .signup-login {
    top: 5%;
  }

  form.form-login {
    padding-top: 140px;
  }
}

@media (max-width: 425px) {
  /* .panel .content {
    padding: 5% 8%;
  } */
  .image {
    display: none;
  }

  .container-main {
    padding: 1.5rem;
  }

  .signup-login {
    font-size: 13px;
  }

  .signup-login .form-title {
    font-size: 24px;
    text-align: center;
  }

  .signup-login .input {
    font-size: 12px;
  }

  .input-field {
    height: 40px;
    grid-template-columns: 20% 80%;
  }

  .input-field input::placeholder {
    font-size: 13px;
  }

  .input-field i {
    font-size: 12px;
    line-height: 40px;
  }

  .bton {
    font-size: 12px;
    height: 40px;
    width: 120px;
  }

  .google-icon {
    height: 40px;
  }

  .pw-requirements {
    font-size: 0.6rem;
  }

  .pw-requirements p {
    margin-bottom: 2px;
  }
}
