.rightbar {
  flex: 4;
  padding-top: 45px;
}
.rightbarWrapper {
  padding: 10%;
  padding-right: 15%;
  /* overflow: scroll; */
  overflow-y: scroll;
  /* height: 100vh; */
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

@media (max-width: 770px) {
  .rightbarWrapper {
    padding: 10%;
  }
}
